@model IEnumerable<MvcAjaxEs.Models.Dependencia>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDependencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       

        @Html.Partial("ItemDependencia",item)

    </tr>
}

</table>
